.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1{
  color:rgb(246, 249, 248);
}
body{
  color:white;
}
.App-nav {
  background-color: #2555b4;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.link-styles{
  color:white;
  text-decoration: none;
  position:relative;
  height:90px;
}
.link-styles:hover{
  background-color: white;
  color:black;
  background-size:100px;
}
#ul-nav li{
  display:inline;
  font-size:20px;
  padding:20px;
  font-family:'Raleway';
  text-decoration: none;
}
